@page
@model WebApplication.Views.Ajuda._LayoutInterno
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/layout-interno.css"/>
    @RenderSection("Styles", required: false)
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">Buffet Magister</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" asp-controller="Acesso" asp-action="Login">Sair</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                
                <div class="text-center mb-5">
                    Leonardo
                    <br>
                    <a asp-controller="PaineldoUsuarioController" asp-action="Index">Painel</a>
                </div>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Admin" asp-action="Supervisao">
                            <span data-feather="home"></span>
                            Supervisao
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Seção 01
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Seção 02
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Seção 03
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Seção 04
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Seção 05
                        </a>
                    </li>
                </ul>

                <div class="text-center small mt-5">
                    <a asp-controller="Ajuda" asp-action="Index">Ajuda</a>
                    <br>
                    <a asp-controller="InformacoesLegais" asp-action="TermosDeUso">Termos de Uso</a>
                    <br>
                    <a asp-controller="InformacoesLegais" asp-action="PoliticaDePrivacidade">Políticas de Privacidade</a>
                </div>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">@ViewData["Title"]</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    @RenderSection("Toolbar", required:false)
                </div>      
            </div>
            
            @RenderBody()
        </main>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/layout-externo.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>